body {
    margin: 0 auto;
    padding: 0;
    
    color: #6b6b6b;
    background: #fff;
    
    font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    width: 98%;
    margin: 0 auto;
}

header {
    width: 100%;
    margin: 0;
    padding: 10px 0;
}

header .container {
    text-align: center;
    color: #666;
}

header h1 {
    display: inline-block;
    margin: 0 5px 0 0;
    border-right: 1px solid #ddd;
    padding: 0 10px 0 0;
    font-size: 1em;
}

header .intro p {
    display: inline-block;
    margin: 0;
}

header form {
    margin: 5px 0;
    padding: 5px 0;
}

header form label {
    display: none;
}

header form input {
    width: 35em;

    border: 1px solid #ccc;
    border-radius: 2em;
    box-shadow: 0 0 5px #ccc;
    padding: 10px 20px;
    font-size: 19px;
}

header form input:focus {
    outline: none;
}    

#preview {
    position: absolute;
    top: -500px;
    left: -500px;
    margin-left: -32px;
    box-shadow: 0 0 15px #333;


}

#preview img {
    border: 1px solid #666;
    padding: 3px;
    width: 64px;
    height: 64px;
    background: #fff;
}

a {
    color: dodgerblue;
}

ol.icons {
	margin: 0;
	padding: 0;
	
	float: left;
}

ol.icons li {
    margin: 0;
    padding: 0;
    float: left;
    
	list-style: none;	
	display: inline;
}

ol.icons li a {
    display: block;
    float: left;
    -webkit-transition: opacity ease-in .5s;
    -moz-transition: opacity ease-in .5s;
}

ol.icons li a.no-match {
    opacity: .1;
}

#preview a.no-match {
    opacity: 1;
}

ol.icons li img {
    padding: 5px;
	float: left;
}

ol.icons li a:hover {
     background: #ddd;   
}
