body {
    margin: 0 auto;
    padding: 0 40px 1em;
    
    color: #6b6b6b;
    background: #fff;
    
    font: 14px/21px "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    
    max-width: 1250px
}

header h1 {
    color: #1b1b1b;
}

header h2 {
    margin-top: -10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
    font-size: 1em;
}

header form {
    float: right;
    margin: -3.3em 1em 0 0;
}

header form input {
    width: 150px;
}

footer {
    clear: both;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}


#preview {
    position: absolute;
    top: -500px;
    left: -500px;
    margin-left: -32px;
    box-shadow: 0 0 15px #333;
}

#preview img {
    border: 1px solid #666;
    padding: 3px;
    width: 64px;
    height: 64px;
    background: #fff;
}

a {
    color: dodgerblue;
}

ol.icons {
	margin: 0 0 .6em 0;
	padding: 0;
	
	float: left;
}

ol.icons li {
    margin: 0;
    padding: 0;
    float: left;
    
	list-style: none;	
	display: inline;
}

ol.icons li a {
    display: block;
    float: left;
    -webkit-transition: opacity ease-in .75s;
    -moz-transition: opacity ease-in .75s;
}

ol.icons li img {
    padding: 5px;
	float: left;
}

ol.icons li a:hover {
     background: #ddd;   
}
